<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.skydiver.alfred.vercel</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>530AA891-55B7-452F-B5CC-2FB40B431D65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3413D29-53DC-4944-B79A-0C6BC6B74C33</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open project deployments page</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9B77D19-3E53-49CB-9DF1-30ADAD1BE148</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD2036D3-7526-490A-94C9-E141990795CB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open project settings page</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5060269-ADA3-456D-ADB7-3F0757172519</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8A2BC3F-CC9B-43AD-AAD4-4717E2FEAFC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0571B33-326B-4B01-BC2F-7D5B44F7B6ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>530AA891-55B7-452F-B5CC-2FB40B431D65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C5060269-ADA3-456D-ADB7-3F0757172519</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Wipe workflow cache</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martín M.</string>
	<key>description</key>
	<string>Quick access your Vercel projects from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vercel</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{query}/deployments</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F3413D29-53DC-4944-B79A-0C6BC6B74C33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A9B77D19-3E53-49CB-9DF1-30ADAD1BE148</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>projects.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Loading projects ...</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>530AA891-55B7-452F-B5CC-2FB40B431D65</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{query}/settings</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DD2036D3-7526-490A-94C9-E141990795CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vercel</string>
				<key>subtext</key>
				<string>Search your Vercel projects</string>
				<key>text</key>
				<string>Vercel Projects</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E0571B33-326B-4B01-BC2F-7D5B44F7B6ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Workflow cache cleared successfully</string>
				<key>title</key>
				<string>Vercel Workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C8A2BC3F-CC9B-43AD-AAD4-4717E2FEAFC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>clean.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C5060269-ADA3-456D-ADB7-3F0757172519</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Workflow setup
==============

1. Obtain your Vercel token at https://vercel.com/account/tokens
2. Goto "Workflow Environment Variables"
3. Set your Vercel `ACCESS_TOKEN`
4. Optional: change cache timeout value (default: 1 hour)


More info
=========
https://github.com/skydiver/alfred-vercel</string>
	<key>uidata</key>
	<dict>
		<key>530AA891-55B7-452F-B5CC-2FB40B431D65</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>A9B77D19-3E53-49CB-9DF1-30ADAD1BE148</key>
		<dict>
			<key>note</key>
			<string>Open project page</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>C5060269-ADA3-456D-ADB7-3F0757172519</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>C8A2BC3F-CC9B-43AD-AAD4-4717E2FEAFC9</key>
		<dict>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>DD2036D3-7526-490A-94C9-E141990795CB</key>
		<dict>
			<key>note</key>
			<string>Open project settings page</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>E0571B33-326B-4B01-BC2F-7D5B44F7B6ED</key>
		<dict>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>F3413D29-53DC-4944-B79A-0C6BC6B74C33</key>
		<dict>
			<key>note</key>
			<string>Open project deployments page</string>
			<key>xpos</key>
			<integer>585</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ACCESS_TOKEN</key>
		<string></string>
		<key>CACHE_TIMEOUT</key>
		<string>3600</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>ACCESS_TOKEN</string>
	</array>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string>https://github.com/skydiver/</string>
</dict>
</plist>
